<!-- menu -->
<div class="menu-container" id="menu">
  <nav class="menu">
    <div class="logo">
      <a href="/"> <i class="fa fa-code"></i> TechCamp </a>
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="#menu">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#training">Trainings</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="apply"><a href="#">Apply Now</a></li>
      </ul>
    </div>
    <div class="search" id="search-icon">
      <a href="/search"><i class="fa fa-search"></i></a>
    </div>
  </nav>
</div>

<!-- end of menu -->
