<% allTrainings.forEach(training => { %>
    <% let len = training.tags.length, tags = training.tags; %>
    <% for (let i = 0; i < len; i++) { %>
        <% if(searchOptions.tags == tags[i]) { %>
            <div class="search-text-item">
                <h3><%= training.name %></h3>
                <p>Duration: <%= training.duration %></p>
                <p>Development stack: <%= training.stack %></p>
                <p>Price: GHC <%= training.price %></p>
            </div>
        <% } %>
    <% } %>
<% }) %> 


